* {
    font-family: "Roboto", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.hero {
    background: #1F2937;
    padding-top: 32px;
    padding-right: 150px;
    padding-bottom: 100px;
    padding-left: 150px;
}

nav {
    display: flex;
    justify-content: space-between;

}

nav ul {
    display: flex;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #E5E7EB;
    text-decoration: none;
}

nav p {
    color: white;
    display:flex;
    font-size: 18px;
}

.hero_main-text {
    color: white;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero_text-section p{
    width: 85%;
    font-size: 24px;
    color: #F9FAF8;

}

.hero_text-section button {
    border-radius: 8px;
    background: #2882f6;
    color: #E5E7EB;
    padding: 6px 24px;
    border: none;
    margin-top: 20px;
}

.grey_image-box {
    background: #E5E7EB;
    width: 60%;
    height: 200px;
    margin-top: 20px;
}

.header_div-one {
    display: flex;
}


header {
    padding-top: 75px;
}

.info_header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

div .info_header {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}


.image-info {
    border: 2px solid #3882f6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.info-section-images {
    margin-top: 32px;
    margin-bottom: 32px;
}

.info-section-images {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.info-section-images div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.info-section-images .image-info {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.info-section-images div p {
    color: #1f2937;
    font-size: 12px;
    text-align: start;
    flex: 1 1 50px;
    width: 150px;
}

.quote div p {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 15px;
    padding-top: 75px;
    font-style: italic;
}

h6 {
    display: flex;
    justify-content: end;
    margin: 15px 150px 0px 0px;
    font-weight: bolder;
    padding-bottom: 60px;
}

.cta div div {
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    padding: 15px;
}

.cta div div div {
    display: flex;
    justify-content: space-around;
    background: #2882f6;
    margin: 50px;
    border-radius: 10px;
}

.cta div div div div {
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: #E5E7EB;
}

.cta div div div div h3 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: #E5E7EB;
    font-size: 24px;
}


.cta div div div div button{
    display: flex;
    gap: 20px;
    border-radius: 8px;
    border: 2px solid white;
    padding: 6px 24px;
    background: #2882f6;
    color: #E5E7EB;
}














.info {
    background: white;
}

.quote {
    background: #E5E7EB;
}

.cta {
    background: white;
}

.copyright {
    background: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}